.kontejneri
{
    display: flex;   
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
   .ContainerForm
   { 
       color: blanchedalmond;
       align-items: center;
       display: flex;
       flex-direction: column;
       flex-basis: 150px;
       background-image: url("menu1.jpg");
       background-size: cover;   
   }

   .kontLokacije
   {   
   align-items:stretch;
   display: flex; 
   flex-grow: 1;
   flex-direction: column;
   background-image: url("wood.jpg");
   }
  
   
   .red
   {
       display: flex;
       flex-grow: 1; 
   }
   .lok
   {   
    flex: 1 1 10px;
    margin:5px;
    text-align:center;
    display:flex;
    align-items:center;
   justify-content: center;
}
   .kontRacun
   { 
    justify-content:center;
    align-items:center;
    display: flex; 
    flex-grow: 1;
    flex-direction: column;
   }
   .red2
   {
    justify-content:center;
    display: flex;
    flex-grow: 1;
    height: 150px;
    font-weight: 100px;
    background-color:coral;
    }
   
 .rac
 {
    flex: 1 1 10px;
    margin:5px;  
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
 }

   body
   {
       flex-direction:column;
       flex-wrap:wrap;
       row-gap: 50px;
       display: flex;
       background-image: url("b4.jpg");
       background-size: cover;  
   }
   .kolicina
   {
       width: 10ch;
   }
   .DugmeKlasa
   {
    margin-top: 10px;
    height: 30px;
    background-color:darkcyan;
   }

   .DugmeKlasa2
   {
    margin-top: 10px;
    height: 30px;
    background-color:greenyellow;
   }

   .DugmeKlasa3
   {
    margin-top: 10px;
    height: 30px;
    background-color: coral;
   }
   
   .crtanje
   {
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 400px;
    margin-left: 400px;
    margin-right: 700px;
    border:double black;
    background-color:chartreuse;
   }
   .brisanje
   {
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: -250px;
    margin-left: 900px;
    margin-right: 70px;
    border:double black; 
    background-color:crimson; 
   }
   .btnCrtaj
   {
       margin-top: 15px;
       height: 40px;
       background-color: darkseagreen;
   }
   .btnIzbrisi
   {
       margin-top: 1px;
       height: 40px;
       background-color: rgb(228, 115, 162);
   }
  